[defaults]
stdout_callback = ansible.builtin.default
result_format = yaml
deprecation_warnings = False
inventory = ./inventory
host_key_checking = False
retry_files_enabled = False
timeout = 30
ansible_python_interpreter = /opt/ansible-venv/bin/python